/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.figma-button
  border 1px solid #666666
  border-radius 4px
  height 24px

img.align-text
  margin-bottom 8px
  vertical-align middle